{% extends 'base.html.twig' %}

{% block title %}Edit SourceLevel{% endblock %}

{% block body %}
    <h1>Edit SourceLevel</h1>

    {{ include('source_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_source_level_index') }}">back to list</a>

    {{ include('source_level/_delete_form.html.twig') }}
{% endblock %}
