{% extends 'base.html.twig' %}

{% block title %}New SourceLevel{% endblock %}

{% block body %}
    <h1>Create new SourceLevel</h1>

    {{ include('source_level/_form.html.twig') }}

    <a href="{{ path('app_source_level_index') }}">back to list</a>
{% endblock %}
